:root {
    --title-color: #000;
    --dbtn-color: #2665B0;
    --listings-bg: #eaf0f5;
    --primary-red: #ED1C24;
    --mission-bg: #DFE7ED;
    --text-color: #44525E;
}

.container {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--listings-bg);
}

.overview_img {
    border-radius: 16px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.mainimg_container {
    height: 454px;
    margin-bottom: 20px;
}

.thumbnailimg_container {
    height: 134px;
}

.overview_subtitle {
    font-weight: 600;
    color: var(--primary-red);
    text-transform: uppercase;
}

.overview_title {
    font-weight: 600;
    color: var(--title-color);
    font-size: clamp(28px, 5vw, 36px);
}

.overview_text {
    color: var(--title-color);
}

.about_mission_subtitle {
    color: var(--red-color);
    text-transform: uppercase;
    font-weight: 600;
}

.about_mission_title {
    color: var(--tile-color);
    font-size: clamp(28px, 5vw, 36px);
    font-weight: 600;
}

.icon_container {
    background: var(--mission-bg);
    border: 1px solid #C7D5E1;
    border-radius: 27px;
    padding: 15px;
}

.mission_card {
    border-radius: 40px;
    padding: 10px;
    border: 1px solid #C7D5E1;
}


.card_title {
    color: var(--tile-color);
    font-weight: 600;
    font-size: clamp(18px, 5vw, 22px);
    letter-spacing: 0px;
}

.card_text {
    color: var(--text-color);
}

.utility_text {
    font-weight: 600;
    color: var(--title-color);
}

.amenity_text {
    font-size: clamp(16px, 5vw, 20px);
    color: var(--title-color);
}

.floor_title {
    font-size: clamp(18px, 5vw, 24px);
    font-weight: 800;
    color: var(--title-color);
    margin-bottom: 20px;
}


.floor_text {
    color: var(--title-color);
}

.floor_img {
    width: 100%;
    height: 100%;
}

@media(max-width: 600px) {

    .mainimg_container,
    .thumbnailimg_container {
        height: auto;
    }

    .floor_title_container {
        position: unset !important;
        top: 0 !important;
    }
}