:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-red: #ED1C24;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* html,
body {
  max-width: 100vw;
  overflow-x: hidden;
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-jost) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* input[type='date']:in-range::-webkit-datetime-edit-year-field,
input[type='date']:in-range::-webkit-datetime-edit-month-field,
input[type='date']:in-range::-webkit-datetime-edit-day-field,
input[type='date']:in-range::-webkit-datetime-edit-text {
  color: transparent;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

input[type="date"]::-moz-calendar-picker-indicator {
  display: none;
}

input[type="date"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
} */

.featured-slider .slick-slide>div {
  /* Assuming a div inside each slide */
  padding: 0 10px;
}

.featured-slider .slick-dots {
  position: absolute !important;
  bottom: -40px !important;
}

#listing-tabs .nav-item .nav-link {
  border-radius: 24px;
  border: 1px solid var(--primary-red);
  color: var(--primary-red);
  margin: 0 5px;
  background-color: #fff;
  padding: 13px 16px;
  font-weight: 600;
}

#footer-check {
  background-color: transparent !important;
}

#footer-check:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* pagination css */
.page-link {
  border: 1px solid #C7D5E1;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: #000 !important;
  text-align: center !important;
  padding-top: 12px !important;
  font-weight: 600;
}

.page-item:last-child .page-link {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
  width: 50px;
  height: 50px;
  padding-top: 10px;
}

.active .page-link {
  background-color: #ED1C24 !important;
  color: #fff !important;
  border: 0;
}

.page-item:first-child .page-link {
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}

#properties-pagination .active .page-link {
  background-color: #000 !important;
  color: #fff !important;
  border: 0;
}

#properties-pagination .page-link {
  background-color: #fff !important;
  color: #000 !important;
  border: 0;
}

/* pagination css */

.radio-buttons input[type="radio"] {
  /* Hide the default radio button */
  display: none;
}

.radio-buttons label {
  /* Style the label to look like a button */
  display: inline-block;
  padding: 20px 35px;
  border: 1px solid #C7D5E1;
  cursor: pointer;
  background-color: #EAF0F5;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 18px;
  width: 100%;
  font-weight: 600;
}

.radio-buttons input[type="radio"]:checked+label {
  /* Style the label when its associated radio button is checked */
  color: #000;
  border: 1px solid #2665B0;
}

/* singup radio btns */

.radio-buttons1 input[type="radio"] {
  /* Hide the default radio button */
  display: none;
}

.radio-buttons1 label {
  /* Style the label to look like a button */
  display: inline-block;
  padding: 24px 16px;
  border: 1px solid #C7D5E1;
  cursor: pointer;
  background-color: #fff;
  text-align: center;
  border-radius: 24px;
  width: 100%;
  font-weight: 600;
}

.radio-buttons1 input[type="radio"]:checked+label {
  /* Style the label when its associated radio button is checked */
  color: #000;
  border: 2px solid #2665B0;
  background-color: #EAF0F5;
}

.radio-buttons1:first-child {
  margin-right: 10px;
}

@media(max-width: 600px) {
  .radio-buttons1:first-child {
    margin-bottom: 10px;
  }
}

/* singup radio btns */

#floor-tabs .nav-item .nav-link {
  padding: 8px 16px;
  border-radius: 32px;
  font-size: 14px;
  font-weight: 600;
  color: #000;
  background-color: #fff;
  margin-left: 10px;
}

#floor-tabs .nav-item .nav-link.active {
  padding: 8px 16px;
  border-radius: 32px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background-color: #2665B0;
}

#video-modal .modal-content,
#boosting-modal .modal-content {
  background: transparent !important;
  border: 0 !important;
}

@media (min-width: 992px) {

  #boosting-modal {
    --bs-modal-width: 900px;
  }
}

@media(max-width: 600px) {

  #floor-tabs .nav-item:first-child .nav-link,
  #floor-tabs .nav-item:last-child .nav-link {
    margin-left: 0;
  }

  #floor-tabs .nav-item:first-child .nav-link {
    margin-bottom: 10px;
  }
}

#terms-check {
  border-radius: 0 !important;
}

#terms-check:checked {
  background-color: #2665B0;
  border-color: #2665B0;
}

#dash-nav .nav-link.active {
  background-color: #2665B0;
  color: #fff;
}

#dash-nav .nav-link {
  color: #000;
  border-radius: 10px;
  padding: 13px 5px 13px 20px;
}

#dash-nav .nav-link.active img {
  filter: invert(1);
}

#dash-nav .nav-link.active svg path {
  stroke: #fff;
}

#utility-checks .form-check-input {
  border: 1px solid #000 !important;
}

#utility-checks .form-check-input:checked {
  background-color: #000 !important;
}